

table, th, tr {
    color: aqua;
    border-color: aquamarine;
    border-bottom: 1px solid white;
    position: center;
    /*
border-collapse: collapse;
    */
}

.Hoverable:hover {
    background-color: aquamarine;
}

table:hover {
    /*background-color:azure;*/
}
.Content {
    margin-left: 50px;
    border-left: 1px solid white;
    margin-right: 50px;
    border-right: 1px solid white;
}
#Header {
    color: white;
    background-color: gray;
}
