

h1 { 
    top: 15px;
    left: 0px;
    width: 100%;
    padding-left: 90px;
    
}
h2 {
}
h3 {
}
body {
    margin: 0;
    overflow-x:hidden;
}

p {

}
th, tr {
border-right:0px;
}
table, th, tr {
    color: aqua;
    border-color: aquamarine;
    border-bottom: 1px solid white;
    position: static;
   
    
    /*
border-collapse: collapse;
    */
}
table {
    border-radius: 2px;
    -moz-border-radius: 6px;
    width: 200%;
    height: auto;
    top: 40px;
}



table:hover {
    /*background-color:azure;*/
}
.Content {
    margin-left: 300px;
    border-left: 2px solid white;
    margin-right: 300px;
    border-right: 2px solid white;
    
}
#Header {
    color: white;
    background-color: gray;
}

footer {
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}
